<p>Thank you for contacting Allianz Global Assistance.<span data-ng-hide="$parent.empathy_statement !== ''"> I understand your concern. It is my pleasure to assist you today. Regarding your request I would like to inform that the Rental Car Damage Protector provides primary coverage for covered collision, loss and damage for $9.00 USD per calendar day.</span><span data-ng-show="$parent.empathy_statement !== ''"> {{$parent.empathy_statement}}</span></p>

<p>The coverage protects against physical damage to the Rental Car that occurs while you are driving or while the rental car is left unattended during the rental period. In addition, coverage is provided for any loss or damage to the Rental Car, resulting from causes other than collision (for example: flat tire, broken windshields, vandalism, etc.).</p>

<p>Please refer to your letter of confirmation to confirm your coverage and limits in your plan.
Finally, should you wish to cancel your policy you must to contact us either via email or phone so we can proceed with a full refund of the amount you paid for the policy.</p>
