<p>Thank you for contacting Allianz Global Assistance. <span data-ng-hide="$parent.empathy_statement !== ''">I apologize for the delay in replying to your email; it is my pleasure to assist you today.</span><span data-ng-show="$parent.empathy_statement !== ''"> {{$parent.empathy_statement}}</span></p>

<p>The Event Registration Protection policy covers you in case that for an unforeseen reason you need to cancel your participation on the event you signed up for and helps in seeking reimbursement of it; this type of policy usually has a cost of $7.00 USD per person, depending on the state of residence and its charged at the moment of the registration.</p>

<p>The scope of coverage goes from a sudden injury or illness to a problem at work that ends up in termination or lay off, should you wish to know more about the range of coverage you can review the Certificate of Insurance that was sent to your e-mail address at the moment of the purchase.</p>

<p>Finally, should you wish to cancel your policy you must to contact us either via email or phone within 10 days of your purchase date so we can proceed with a full refund of the amount you paid for the policy.</p>
