<br><p>Thank you for contacting Allianz Global Assistance. <span data-ng-hide="$parent.empathy_statement !== ''">I apologize for the delay in replying to your email; it is my pleasure to assist you today.</span><span data-ng-show="$parent.empathy_statement !== ''"> {{$parent.empathy_statement}}</span></p>

<p>The Event Ticket Protection Policy covers you in case that for an unforeseen reason, you need to cancel your event tickets and helps in seeking reimbursement of them; this type of Policy usually has a cost of $7.00 USD per ticket depending on the state of residence and its charged at the moment of the ticket purchase.</p>

<p>The scope of coverage goes from a sudden injury or illness to a problem at work that ends up in termination or lay off, should you wish to know more about the range of coverage you can review the Certificate of insurance that was sent to your e-mail address at the moment of the purchase.</p>

<p>It’s important to mention that the Event Ticker Protector insurance we provide will always be under the name of the person who purchased the tickets, but since it insured the ticket itself and not the person attending, no change needs to be made to the Policy as far as the name of the insured is concerned.</p>

<p>Finally, should you wish to cancel your Policy you must to contact us either via email or phone within 10 days of your purchase date so we can proceed with a full refund of the amount you paid for the Policy.</p>
