<div class="container">
        <div class="row branding">
             <div class="col-xs-8">
                <h2>E IM Assistant</h2>
             </div>
             <div class="col-xs-4">
                <img src="images/brand-logo.png">
             </div>
        </div>

        <div id="validation-form" class="row" data-ng-hide="session.valid" data-ng-cloak>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Log In</h3> 
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                            <input type="text" class="form-control" data-ng-model="session.code" placeholder="Enter your ID, please" ng-keyup="isValid($event.keyCode)">
                        </div>
                        <p>{{session.errorMessage}}<p>
                        <div id="validation-form-submit">
                            <button class="btn btn-success" data-ng-click="isValid(13)">Submit</button>
                        </div>      
                    </div>
                </div>          
            </div>
        </div>

        <div class="row" data-ng-if="session.valid" data-ng-cloak>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <!--This lets you choose what type of e-mail you are answering to.-->
                <select class="form-control btn btn-success" data-ng-options="option.name for option in select.Template track by option.templateID" data-ng-model="data.message.template"></select>

                <!--This lets you select the right closing-->
                <select class="form-control btn btn-success" data-ng-options="option.name for option in select.Closing track by option.closingID" data-ng-model="data.message.closing"></select>
            
                <!--This lets you enter the information that will be displayed in the response.-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Information</h3> 
                    </div>
                    <div class="panel-body">
                        <div ng-show="isNeeded('pN')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-book"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.pN" placeholder="Policy">
                        </div>
                        <div ng-show="isNeeded('name')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.pH.name" placeholder="Name">
                        </div>
                        <div ng-show="isNeeded('doP')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.doP" placeholder="Date of Purchase">
                        </div>
                        <div ng-show="isNeeded('depD')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.depD" placeholder="Departure Date">
                        </div>
                        <div ng-show="isNeeded('retD')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.retD" placeholder="Return Date">
                        </div>
                        <div ng-show="isNeeded('address')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-home"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.pH.address" placeholder="Address">
                        </div>
                        <div ng-show="isNeeded('phone')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.pH.phone" placeholder="Phone">
                        </div>
                        <div ng-show="isNeeded('email')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.pH.email" placeholder="Email">
                        </div>
                        <div ng-show="isNeeded('amount')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-usd"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.payment.amount" placeholder="Amount refunded">
                        </div>
                        <div ng-show="isNeeded('brand')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-credit-card"></span>
                            <input type="text" class="form-control" data-ng-model="data.pol.payment.brand" placeholder="Brand">
                        </div>
                        <div ng-show="isNeeded('l4d')" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-triangle-right"></span>
                            <input type="number" class="form-control" data-ng-model="data.pol.payment.l4d" placeholder="Last four digits">
                        </div>
                        <div id="mod-emp-stat" class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-heart"></span>
                            <input type="text" class="form-control" data-ng-model="data.message.empathy_statement" placeholder="Modify the empathy statement">
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xs-12 col-sm-6 col-md-8">
                <!--This lets you see the response, and has the control for copying it, and deleting it.-->
                <div class="panel panel-default">
                    <div id="response-box-title" class="panel-heading">
                        <h3 class="panel-title">E-Mail Response</h3>
                        <div>
                            <a id="copy-button" href="#" data-ng-click="copy()"><span class="img-circle glyphicon glyphicon-copy"></span></a>
                            <a id="remove-button" href="#" data-ng-click="clear()"><span class="img-circle glyphicon glyphicon-remove"></span></a> 
                        </div>
                    </div>
                    <div id="email-response" class="panel-body">
                        <p>Dear {{toTitleCase(data.pol.pH.name)}}</p>
                        <p>Policy {{data.pol.pN}}</p>
                        <div class="response-body" data-ng-include="data.message.template.url"></div>
                        <div class="response-closing" data-ng-include="'partials/closing.html'"></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>