body {
    background-color : #f1f1f1; 
}
.branding {
    background-color : #013781;
    color : white;
    margin-bottom : 20px;
    background-clip : content-box;
}
    .branding > .col-xs-4 {
        padding-top : 21px;
        height : 20px;
    }
    .branding img {        
        width: 103.328px;
        float: right;
    }
.panel-heading {
    background-image: linear-gradient(to bottom,#1d6e86 0,#013781 100%) !important;
    color: white !important;
}
#response-box-title > h3 {
    float : left;
}
#response-box-title > div {
    display: flex;
    justify-content: flex-end;
}
select.btn-success {
    margin-bottom: 9px;
    font-size: 18px;
}
.panel-heading a{
	color: white;
}
.input-group-addon.glyphicon {
	top: initial;
}
span.glyphicon-remove:hover {
	color: red;
	background-color: white;
}
span.glyphicon-copy:hover {
	color: green;
	background-color: white;
}
span.input-group-addon {
    background-color: #9da1a3;
    color: white;
}
#validation-form > h3 {
    text-align : center;
}
#validation-form-submit {
    display: flex;
    justify-content: center;
    margin-top: 18px;  
}
#validation-form p {
    color : red;
}