body {
    background-color : #f1f1f1; 
}
.branding {
    background-color : #013781;
    color : white;
    margin-bottom : 20px;
    background-clip : content-box;
}
    .branding > .col-xs-4 {
        padding-top: 8px;
        height : 20px;
    }
    .branding img {        
        width: 103.328px;
        float: right;
    }
    .branding h2 {
    margin: 8px 0 8px 0;
    }
.panel-heading {
    background-image: linear-gradient(to bottom,#1d6e86 0,#013781 100%) !important;
    color: white !important;
}    
    .panel-heading a{
        color: white;
    }
select.panel-heading {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #9ea2a3;
}
#response-box-title > h3 {
    float : left;
}
#response-box-title > div {
    display: flex;
    justify-content: flex-end;
}
.input-group-addon.glyphicon {
	top: initial;
}
span.glyphicon-remove:hover {
	color: red;
	background-color: white;
}
span.glyphicon-copy:hover {
	color: green;
	background-color: white;
}
span.input-group-addon {
    background-color: #9da1a3;
    color: white;
}
#validation-form-submit {
    display: flex;
    justify-content: center;
    margin-top: 18px;  
}
    #validation-form  h3 {
        text-align : center;
    }
    #validation-form p {
        color: red;
        text-align: center;
        margin-top: 9px;
    }
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.my-input-section {
    margin : 1rem 0; 
}
.mis-title {
    margin-bottom: 0.5rem;
    color: #013781;
    font-size: 1.5rem;
    font-weight: 600;
}
textarea {
	resize : none;
}
	
